<style>
  a:link, a:visited {
    color: black;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: None;
    font-size: 50px
}
  a:hover, a:active {
    color: black;
    background-color: lightblue;
    text-align: center;
    text-decoration: None;
    font-size: 50px


}

  div a:after {
  content: "";
  display: block;
  height: 0;
  width: 1px;
}

  body{
    background-color: lightgoldenrodyellow;
  }
</style>

<body>
  <div class="home" style = "text-align: center">
    <br>
    <h1 style="text-align: center; color: indigo">Welcome To My Website!</h1>
    <p style="text-align: center;">Have a look around!</p>
    <br> <br> <br>
    <a href="/resume" style = "text-align: center">Resume</a>
    <a href="/moods" style = "text-align: center">Song Classifier</a>
    <a href="/projects" style = "text-align: center">Other Projects</a>
  </div>
</body>