<style>
  a:link, a:visited {
    color: black;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: None;
    font-size: 20px
}
  a:hover, a:active {
    color: black;
    background-color: lightblue;
    text-align: center;
    text-decoration: None;
    font-size: 20px
}

  a:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 1px;
  text-align: center;
}


</style>

<div style = "text-align: center">
    <a href="/" >Home</a>
    <a href="/resume " >Resume</a>
    <a href="/projects" >Other Projects</a>
  </div>
<div style="text-align: center;">
    <h1 style="color: forestgreen">Spotify Mood Classifier</h1>
    <p>This classifier accepts an artist name and song title as input and outputs the song's mood. <br>Type in a song and give it a try!</p>
    <br><br>
    <form method = 'POST' style="vertical-align: middle">
        <label>Artist name: </label>
        <input name = "artist_name">
        <label>Song title: </label>
        <input name = "song_title">

        <input type = "submit">
    </form>

</div>