<style>
  a:link, a:visited {
    color: black;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: None;
    font-size: 20px
}
  a:hover, a:active {
    color: black;
    background-color: lightblue;
    text-align: center;
    text-decoration: None;
    font-size: 20px
}

  a:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 1px;
  text-align: center;
}

  body{
    background-color: gray;
  }

</style>

</style>
<div style = "text-align: center">
    <a href="/" >Home</a>
    <a href="/moods" >Song Classifier</a>
    <a href="/projects" >All Projects</a>
  </div>
<body>
    <br>
    <div style="text-align: center;"><img src = "static/a resume-1.png" alt = "Amanda Zaccagnino Resume" style="text-align: center; margin-left: auto; margin-right: auto; width: 50%; height: 115%"/><div style="text-align: center;"/>
  </div>
</body>
